<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register new user</title>
  </head>
  <body>
    <section class="container">
      <h1>Registration new Codewars user</h1>
      <hr />

      <form action="#" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" />

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          name="password"
          placeholder="Enter the password"
          required
        />
        
        <input type="submit" value="Registration" />
      </form>
    </section>
  </body>
</html>
